# Introduction to CPTAC and Proteomics

This document will take you through the basics of CPTAC and analyzing proteomic data in python. Let's get started!

## Setting up your working directory

Set your working directory to your analysis_data folder.

In [4]:
import os

os.chdir('/Users/mi/Desktop/QBIO/qbio_490_jeanneR/analysis_data')

### Start exploring CPTAC with `cptac`
Similar to TCGAbiolinks, we need to load the package and download the data before using.
1. Import the package (`cptac`).
2. Look at the data sets available to us with the list_datasets() function. As a reminder, remember the package_name.method() syntax!
3. Download the one of interest (BRCA in our case).
4. Load it into our python environment.

In [2]:
# 1. Import cptac
import cptac as cptac


# 2. Examine the data sets available with list_datasets()
cptac.list_datasets()

cptac warning: Your version of cptac (1.1.2) is out-of-date. Latest is 1.5.5. Please run 'pip install --upgrade cptac' to update it. (/Users/mi/miniconda3/envs/qbio_490_jeanneR/lib/python3.9/threading.py, line 917)

,Description,Data reuse status,Publication link
Dataset name,,,
Brca,breast cancer,no restrictions,https://pubmed.ncbi.nlm.nih.gov/33212010/
Ccrcc,clear cell renal cell carcinoma (kidney),no restrictions,https://pubmed.ncbi.nlm.nih.gov/31675502/
Colon,colorectal cancer,no restrictions,https://pubmed.ncbi.nlm.nih.gov/31031003/
Endometrial,endometrial carcinoma (uterine),no restrictions,https://pubmed.ncbi.nlm.nih.gov/32059776/
Gbm,glioblastoma,no restrictions,https://pubmed.ncbi.nlm.nih.gov/33577785/
Hnscc,head and neck squamous cell carcinoma,no restrictions,https://pubmed.ncbi.nlm.nih.gov/33417831/
Lscc,lung squamous cell carcinoma,no restrictions,https://pubmed.ncbi.nlm.nih.gov/34358469/
Luad,lung adenocarcinoma,no restrictions,https://pubmed.ncbi.nlm.nih.gov/32649874/
Ovarian,high grade serous ovarian cancer,no restrictions,https://pubmed.ncbi.nlm.nih.gov/27372738/
Pdac,pancreatic ductal adenocarcinoma,no restrictions,https://pubmed.ncbi.nlm.nih.gov/34534465/
UcecConf,endometrial confirmatory carcinoma,password access only,unpublished
GbmConf,glioblastoma confirmatory,password access only,unpublished

In [3]:
# 3. Download the breast cancer data set -- fill in dataset!
cptac.download(dataset="Brca")

# 4. Load the breast cancer data set
brca = cptac.Brca()

Now, we have our brca object containing a bunch of data. We can use the list_data() function the data available for the breast cancer dataset.
<br></br>
In addition to the proteomics data, we can also accesss the accompanying transcriptomics, CNV, etc. using this object. We will focus on the omics which we have already seen for this course; however, other data present in this dataset are also pretty interesting. Finally, many proteins can't be identified very well, so they won't appear as a column (for example, APC isn't in the proteomics data set).
<br></br>
**Exercise 1.1** Call the list_data() function from the brca object to examine the different data contained in the brca object. Much like calling functions from a package, we can use the brca.function() syntax.

* How many patients do you think there are in this dataset? (Make an educated guess about this from the dimensions - we'll confirm your answer later on)

In [7]:
# Run the list_data() function
brca.list_data()

Below are the dataframes contained in this dataset and their dimensions:

acetylproteomics
	122 rows
	9868 columns
clinical
	122 rows
	18 columns
CNV
	122 rows
	23692 columns
derived_molecular
	122 rows
	36 columns
phosphoproteomics
	122 rows
	38775 columns
proteomics
	122 rows
	10107 columns
somatic_mutation
	24106 rows
	3 columns
transcriptomics
	122 rows
	23121 columns

**Exercise 1.2** Use the get_proteomics() function to store the proteomics data into a new data frame.

In [39]:
protein_data = brca.get_proteomics() # get the proteomics data
protein_data # view the data


# Uncomment and run this command after you get the data, you don't really need to know what it does but it collapses
# the column names and gets rid of the database_IDs which will make our lives much easier!

protein_data.columns = protein_data.columns.get_level_values(0)

## (2) Exploring the Data

As mentioned earlier, `cptac` data is in the form of `pandas` dataframes. Let's load that and `numpy`. 

**Exercise 2.1** Import numpy and pandas with their usual shortened names (pd and np).

In [9]:
# import packages here
import pandas as pd
import numpy as np

Remember that we can access the rows/column names of a data frame in two ways:
1. We can get the row and column names together in a list with the `axes` attribute.
2. We can get the row or column names individually in the `index` (row) or `columns` (column) attribute.
<br></br>
**Exercise 2.2** Print the axes, index, and columns of the protein_data object. Then, determine its dimensions using the shape attribute. Finally, answer the following questions:

* How many rows and columns are there in the data frame?
* What do the rows and columns represent?
* How many patients are there?
* What about proteins?

In [19]:
## Explore the data frame here and answer questions
print(protein_data)
protein_data.axes
#row represent patients, columns represent expression of protein (log2 foldchange?)
# 122 patients, 10107 proteins

Name          A1BG     A2M   A2ML1    AAAS    AACS   AADAT   AAED1   AAGAB  \
Patient_ID
CPT000814  -0.6712 -0.2075  2.7959  1.3969 -1.0899     NaN  1.6708 -0.3484
CPT001846   1.3964  1.3302 -5.0948  0.7674 -1.6845     NaN  2.1022 -0.5814
X01BR001    2.0219  1.6269 -3.2943  0.3352 -1.0739  1.2255  0.2754 -1.1187
X01BR008   -0.5290  0.3267  1.4342  0.4938 -2.8676     NaN     NaN -1.0691
X01BR009    1.2556  3.4489  2.8043 -0.2956 -1.7261     NaN     NaN -2.0471
...            ...     ...     ...     ...     ...     ...     ...     ...
X21BR001   -0.6610 -0.6402 -4.8578  1.2319 -1.6491     NaN     NaN -0.3074
X21BR002   -1.3735  0.4227 -4.9553  0.6327 -3.1434     NaN     NaN  0.3071
X21BR010    1.1583  0.3329 -5.7358 -0.1658 -2.0413 -1.2433  0.9090 -0.2410
X22BR005    0.4948 -1.0986 -8.8314  0.2826 -1.0123 -2.5732  5.7567  1.7644
X22BR006    0.5049 -0.6582 -7.4699  0.6570 -0.7239     NaN  0.6420  2.2376

Name          AAK1   AAMDC  ...  ZSCAN31  ZSWIM8    ZW10  ZWILCH   ZWINT  \
Patient_ID                  ...
CPT000814  -0.4756 -0.7299  ...  -5.2868 -0.6536  0.3384  2.1169  1.3910
CPT001846   0.2916 -2.2857  ...  -0.7592  0.4711  0.6018  0.2062 -0.2137
X01BR001   -0.0534 -0.2519  ...      NaN  0.2306 -0.3010  0.3395 -0.5316
X01BR008   -0.3643 -1.8173  ...  -2.1789  0.2695  0.1506  1.0498  0.7546
X01BR009   -0.3547 -0.8298  ...  -2.3990 -0.2596  0.1898 -0.5010 -0.4189
...            ...     ...  ...      ...     ...     ...     ...     ...
X21BR001   -0.3074 -0.0266  ...  -0.2528  0.5090  0.0306  0.4908 -0.5570
X21BR002    0.7562 -1.6912  ...  -3.3351  0.1548  1.0792 -0.6619 -1.4444
X21BR010    0.6717 -0.1651  ...  -0.7054  0.2752  0.8850 -2.6704 -0.9444
X22BR005    0.5415  0.1531  ...  -0.3936 -0.0340 -0.9367 -0.1922  1.2572
X22BR006   -0.7597  0.1589  ...   0.5526  0.3468  1.0655 -1.2607 -2.2866

Name          ZXDC  ZYG11B     ZYX   ZZEF1    ZZZ3
Patient_ID
CPT000814  -2.1230  0.9136 -0.8082 -1.4793  0.9136
CPT001846  -2.1219  0.0860  2.5814 -0.2852 -0.1074
X01BR001       NaN  0.4996  0.7622 -1.5607  0.0256
X01BR008    1.7889 -0.2499 -0.2590 -0.1263  0.3725
X01BR009    0.3080  0.5057  0.2181 -0.2288 -0.2750
...            ...     ...     ...     ...     ...
X21BR001    2.3864  0.3764 -0.6974  1.3541  1.1123
X21BR002   -0.3704  0.4909  0.3938  0.2992 -0.3494
X21BR010   -1.9717  0.0650  0.6300 -0.0686  0.1798
X22BR005    1.3220 -1.0698  0.4012 -0.3792  1.2752
X22BR006    1.0775 -0.1334  2.5269  1.4294  0.4542

[122 rows x 10107 columns]

[Index(['CPT000814', 'CPT001846', 'X01BR001', 'X01BR008', 'X01BR009',
        'X01BR010', 'X01BR015', 'X01BR017', 'X01BR018', 'X01BR020',
        ...
        'X20BR002', 'X20BR005', 'X20BR006', 'X20BR007', 'X20BR008', 'X21BR001',
        'X21BR002', 'X21BR010', 'X22BR005', 'X22BR006'],
       dtype='object', name='Patient_ID', length=122),
 Index(['A1BG', 'A2M', 'A2ML1', 'AAAS', 'AACS', 'AADAT', 'AAED1', 'AAGAB',
        'AAK1', 'AAMDC',
        ...
        'ZSCAN31', 'ZSWIM8', 'ZW10', 'ZWILCH', 'ZWINT', 'ZXDC', 'ZYG11B', 'ZYX',
        'ZZEF1', 'ZZZ3'],
       dtype='object', name='Name', length=10107)]

Remember we can access data by name using `.loc[]` and `.iloc[]`. Since this dataset is really large, we won't really use `.iloc[]` which accesses by index. To get the protein expression information for a specific patient, therefore, we would run something like this:

In [ ]:
protein_data.loc["patient ID","protein name"] # this is the general case, you have to fill in actual IDs/protein names

**Exercise 2.3** Remember that the numerical data in CPTAC is the relative fold change, not an absolute value/count. Given this, what kind of number would represent lower relative expression? What kind of number would represent higher relative expression? (Hint: reference level is 0)

In [ ]:
## Answer question in comment form here
#lower relative expression = negative number
#higher relative expression = positive number

**Exericse 2.4**

Print the relative fold change of patient `X01BR008` in the `TP53` protein. Then, interpret this value -- does this patient have higher or lower protein levels than the reference? (Hint: use .loc[] and remember that a `:` can be used in either the row or column slot to access every row or every column.)

In [10]:
## write code here
print(protein_data.loc['X01BR008', 'TP53'])

#this patient has a relative fold change of 1.9239 for TP53, meaning they have higher levels than the reference

1.9239

### Using Boolean indexing

In R, we used the `ifelse()` function very heavily to assign categories, such as classifying patients as "old" or "young". In Python, we have the `where(COND, TRUE_VAL, FALSE_VAL)` function from numpy, which works extremely similarly to ifelse(). That is:

   1. The first parameter is the condition (a boolean vector; i.e. Trues and Falses).
   2. The second parameter is the value to fill the True conditions.
   3. The third parameter is the value to fil lthe False conditions.
    
The following example (split into the four code blocks below) shows how to apply the `where()` function, in the context of telling if a number is odd or even.

In [24]:
# first let's create our example array

number_example_array = pd.DataFrame({"nums": [0, 1, 2, 3, 4, 5]})
number_example_array

   nums
0     0
1     1
2     2
3     3
4     4
5     5

In [25]:
# now, let's make a boolean vector where odds will be True, evens will be False
boolean_vector = (number_example_array % 2 == 1)
boolean_vector

    nums
0  False
1   True
2  False
3   True
4  False
5   True

In [26]:
# then add this vector as a column in our array (we could do this and the above in one step)
number_example_array["boolean_vector"] = boolean_vector
number_example_array

   nums  boolean_vector
0     0           False
1     1            True
2     2           False
3     3            True
4     4           False
5     5            True

In [27]:
# lastly, let's add a third column called "parity" that says based off of "boolean_vector" if our value is odd/even
number_example_array["parity"] = np.where(boolean_vector, "Odd", "Even")
number_example_array

   nums  boolean_vector parity
0     0           False   Even
1     1            True    Odd
2     2           False   Even
3     3            True    Odd
4     4           False   Even
5     5            True    Odd

**Exercise 2.5** Access the following:

1. Use boolean indexing to access the patient IDs with high (≥1) `TP53` expression. Save this in a pandas DataFrame called `high_TP53`. HINTS:
    * Think about if protein expression information will be contained in a row or a column!
    * Create a boolean mask with the row/column that contains the expression information of `TP53`.
    * Apply the mask to the row/column names that contains the patient IDs.
2. How many patients are there in `high_TP53`? Which axis (columns or rows) represents proteins?
3. Add a column to `high_TP53` that has the values "High"/"Average"/"Low" based on ARF1 expression.
4. How many patients have high expression of both `TP53` and average expression of `ARF1`?

In [157]:
# write code here
TP_up_mask = protein_data.loc[:,'TP53']>=1
high_TP53 = protein_data.loc[TP_up_mask, :]
print(high_TP53) #has 11 patients. columns represent proteins

Name          A1BG     A2M   A2ML1    AAAS    AACS   AADAT   AAED1   AAGAB  \
Patient_ID
CPT000814  -0.6712 -0.2075  2.7959  1.3969 -1.0899     NaN  1.6708 -0.3484
X01BR008   -0.5290  0.3267  1.4342  0.4938 -2.8676     NaN     NaN -1.0691
X01BR009    1.2556  3.4489  2.8043 -0.2956 -1.7261     NaN     NaN -2.0471
X01BR018    1.9579  2.4185  1.1549  0.0683 -3.3943  1.1572     NaN -0.4773
X01BR027   -0.2538  1.6724  5.3316  1.0390 -2.0366 -0.0884  0.4793  0.0829
X01BR031    0.2366  0.6025 -0.8141  0.7146 -1.2747 -0.7967 -1.5809 -1.3494
X03BR006   -1.8078 -1.3432  1.5244  0.9868 -1.0213     NaN     NaN -1.7108
X05BR001   -0.5433  0.2689 -3.7788 -0.3203 -5.1510  0.6458 -1.8199  0.3194
X05BR043    1.0922  0.8715 -2.5619 -0.0461 -3.3529     NaN -1.1559 -0.0154
X09BR004   -0.8516 -0.0405 -2.6649  0.2353 -0.3737 -0.8489     NaN -0.1252
X11BR024   -1.5691  0.6150 -3.6298  0.4059  0.6553 -0.1684     NaN -0.6950

Name          AAK1   AAMDC  ...  ZSCAN31  ZSWIM8    ZW10  ZWILCH   ZWINT  \
Patient_ID                  ...
CPT000814  -0.4756 -0.7299  ...  -5.2868 -0.6536  0.3384  2.1169  1.3910
X01BR008   -0.3643 -1.8173  ...  -2.1789  0.2695  0.1506  1.0498  0.7546
X01BR009   -0.3547 -0.8298  ...  -2.3990 -0.2596  0.1898 -0.5010 -0.4189
X01BR018   -1.1339  0.4581  ...   0.0542  0.2124 -0.6686  0.5360  0.8360
X01BR027   -0.2199 -1.0067  ...  -4.2915 -0.5008  1.0470  0.3797  0.4653
X01BR031   -0.2539 -0.4730  ...   1.1378  0.9859  0.4307  1.3942 -0.4680
X03BR006   -0.5038 -2.3528  ...  -1.6615 -0.4434  0.4015  0.7380  1.1971
X05BR001    0.4998 -0.2009  ...  -1.2413  0.3326  0.0141 -0.0708  0.3618
X05BR043   -0.0768  1.7749  ...  -0.2157 -0.0073 -0.1810  1.1883  1.3825
X09BR004   -0.4256 -3.4295  ...  -1.3950  0.0550  0.9153  2.4992  3.2447
X11BR024    0.2044  1.6932  ...  -0.3070 -0.3423 -0.0727  1.1138  0.0432

Name          ZXDC  ZYG11B     ZYX   ZZEF1    ZZZ3
Patient_ID
CPT000814  -2.1230  0.9136 -0.8082 -1.4793  0.9136
X01BR008    1.7889 -0.2499 -0.2590 -0.1263  0.3725
X01BR009    0.3080  0.5057  0.2181 -0.2288 -0.2750
X01BR018       NaN  0.3872 -0.5221 -0.1490  1.3674
X01BR027    0.6924 -0.0426 -0.2040 -1.0008  0.4036
X01BR031    0.5353  0.6971  0.8266 -0.3236 -0.8639
X03BR006    0.6393 -0.5385  0.1729 -0.3666 -0.4233
X05BR001   -0.8671 -0.0443  1.9570 -0.4398 -0.0761
X05BR043    0.6651 -0.3629  1.2292 -0.7839 -0.2382
X09BR004   -0.0596  1.1064 -0.6249  0.1233 -0.9581
X11BR024       NaN -0.7201  0.0507 -0.3347  0.2699

[11 rows x 10107 columns]

In [165]:
high_mask = high_TP53['ARF1'] >= 1
low_mask = high_TP53['ARF1'] <= -1
avg_mask = (high_TP53['ARF1'] > -1) & (high_TP53['ARF1'] < 1)


high_TP53.loc[:,'ARF1_Category'] = "placeholder"
high_TP53.loc[high_mask, "ARF1_Category"] = "High"
high_TP53.loc[low_mask, "ARF1_Category"] = "Low"
high_TP53.loc[avg_mask, "ARF1_Category"] = "Average"

print(high_TP53)

#9 patients have high TP53 and average ARF1

Name          A1BG     A2M   A2ML1    AAAS    AACS   AADAT   AAED1   AAGAB  \
Patient_ID
CPT000814  -0.6712 -0.2075  2.7959  1.3969 -1.0899     NaN  1.6708 -0.3484
X01BR008   -0.5290  0.3267  1.4342  0.4938 -2.8676     NaN     NaN -1.0691
X01BR009    1.2556  3.4489  2.8043 -0.2956 -1.7261     NaN     NaN -2.0471
X01BR018    1.9579  2.4185  1.1549  0.0683 -3.3943  1.1572     NaN -0.4773
X01BR027   -0.2538  1.6724  5.3316  1.0390 -2.0366 -0.0884  0.4793  0.0829
X01BR031    0.2366  0.6025 -0.8141  0.7146 -1.2747 -0.7967 -1.5809 -1.3494
X03BR006   -1.8078 -1.3432  1.5244  0.9868 -1.0213     NaN     NaN -1.7108
X05BR001   -0.5433  0.2689 -3.7788 -0.3203 -5.1510  0.6458 -1.8199  0.3194
X05BR043    1.0922  0.8715 -2.5619 -0.0461 -3.3529     NaN -1.1559 -0.0154
X09BR004   -0.8516 -0.0405 -2.6649  0.2353 -0.3737 -0.8489     NaN -0.1252
X11BR024   -1.5691  0.6150 -3.6298  0.4059  0.6553 -0.1684     NaN -0.6950

Name          AAK1   AAMDC  ...  ZSWIM8    ZW10  ZWILCH   ZWINT    ZXDC  \
Patient_ID                  ...
CPT000814  -0.4756 -0.7299  ... -0.6536  0.3384  2.1169  1.3910 -2.1230
X01BR008   -0.3643 -1.8173  ...  0.2695  0.1506  1.0498  0.7546  1.7889
X01BR009   -0.3547 -0.8298  ... -0.2596  0.1898 -0.5010 -0.4189  0.3080
X01BR018   -1.1339  0.4581  ...  0.2124 -0.6686  0.5360  0.8360     NaN
X01BR027   -0.2199 -1.0067  ... -0.5008  1.0470  0.3797  0.4653  0.6924
X01BR031   -0.2539 -0.4730  ...  0.9859  0.4307  1.3942 -0.4680  0.5353
X03BR006   -0.5038 -2.3528  ... -0.4434  0.4015  0.7380  1.1971  0.6393
X05BR001    0.4998 -0.2009  ...  0.3326  0.0141 -0.0708  0.3618 -0.8671
X05BR043   -0.0768  1.7749  ... -0.0073 -0.1810  1.1883  1.3825  0.6651
X09BR004   -0.4256 -3.4295  ...  0.0550  0.9153  2.4992  3.2447 -0.0596
X11BR024    0.2044  1.6932  ... -0.3423 -0.0727  1.1138  0.0432     NaN

Name        ZYG11B     ZYX   ZZEF1    ZZZ3  ARF1_Category
Patient_ID
CPT000814   0.9136 -0.8082 -1.4793  0.9136        Average
X01BR008   -0.2499 -0.2590 -0.1263  0.3725        Average
X01BR009    0.5057  0.2181 -0.2288 -0.2750        Average
X01BR018    0.3872 -0.5221 -0.1490  1.3674        Average
X01BR027   -0.0426 -0.2040 -1.0008  0.4036        Average
X01BR031    0.6971  0.8266 -0.3236 -0.8639            Low
X03BR006   -0.5385  0.1729 -0.3666 -0.4233        Average
X05BR001   -0.0443  1.9570 -0.4398 -0.0761        Average
X05BR043   -0.3629  1.2292 -0.7839 -0.2382            Low
X09BR004    1.1064 -0.6249  0.1233 -0.9581        Average
X11BR024   -0.7201  0.0507 -0.3347  0.2699        Average

[11 rows x 10108 columns]

## (3) Additional data in CPTAC

You can also access other data using the `cptac` python package for the same patients, using the corresponding get function.

**Exercise 3.1** Access the RNA (transcriptomics) and clinical data from the brca object. The function name is very similar in syntax to the get_proteomics() function from before!

In [4]:
rna_data = brca.get_transcriptomics()
clinical_data = brca.get_clinical()

**Exercise 3.2** Examine these dataframes. In particular:

* What do the values in the rna_data data frame represent?
* Compare the dimensions of the high_TP53, rna_data, and clinical_data. Are they equal?

In [65]:
# explore the data frames using shape, axes, and other functions we've gone over.
#print(rna_data) 
#rna_data.axes
print(clinical_data)

#rows are patient IDs, columns are relative counts of the RNA
#same number of patients (rows) across all, but more rna transcripts than proteins

Name       Replicate_Measurement_IDs Sample_Tumor_Normal TMT.Plex TMT.Channel  \
Patient_ID
CPT000814                  CPT000814               Tumor       13        127C
CPT001846                  CPT001846               Tumor       12        128C
X01BR001                    X01BR001               Tumor        2        129N
X01BR008                    X01BR008               Tumor       16        127C
X01BR009                    X01BR009               Tumor       16        127N
...                              ...                 ...      ...         ...
X21BR001                    X21BR001               Tumor       16        128N
X21BR002                    X21BR002               Tumor       16        128C
X21BR010      X21BR010|X21BR010.REP1               Tumor     3|17   129C|128C
X22BR005                    X22BR005               Tumor        6        129N
X22BR006                    X22BR006               Tumor       10        130N

Name             Stage  Ischemia.Time.in.Minutes  PAM50 NMF.Cluster  \
Patient_ID
CPT000814    Stage IIA                       NaN  Basal     Basal-I
CPT001846    Stage III                       NaN  Basal     Basal-I
X01BR001     Stage IIB                       0.0  Basal     Basal-I
X01BR008           NaN                       NaN  Basal     Basal-I
X01BR009           NaN                       NaN  Basal     Basal-I
...                ...                       ...    ...         ...
X21BR001           NaN                       NaN   LumB      LumB-I
X21BR002           NaN                       NaN   LumA      LumB-I
X21BR010     Stage IIA                      18.0   LumA      LumA-I
X22BR005     Stage IIB                      20.0   LumA      LumB-I
X22BR006    Stage IIIA                      25.0   LumA      LumB-I

Name        NMF.Cluster.Membership.Score  Age.in.Month  Gender  \
Patient_ID
CPT000814                          1.000           NaN     NaN
CPT001846                          0.672           NaN     NaN
X01BR001                           0.782         660.0  female
X01BR008                           0.958           NaN     NaN
X01BR009                           0.825           NaN     NaN
...                                  ...           ...     ...
X21BR001                           0.536           NaN     NaN
X21BR002                           0.443           NaN     NaN
X21BR010                           0.559         852.0  female
X22BR005                           0.392         552.0  female
X22BR006                           0.402         660.0  female

Name                        Ethnicity ER.Updated.Clinical.Status  \
Patient_ID
CPT000814   black.or.african.american                   negative
CPT001846                       white                   negative
X01BR001    black.or.african.american                   negative
X01BR008                          NaN                        NaN
X01BR009                          NaN                   negative
...                               ...                        ...
X21BR001                        white                   negative
X21BR002                        white                   positive
X21BR010                        white                   positive
X22BR005                        white                   positive
X22BR006    black.or.african.american                   positive

Name       PR.Clinical.Status ERBB2.Updated.Clinical.Status  \
Patient_ID
CPT000814            negative                           NaN
CPT001846            negative                           NaN
X01BR001             negative                      negative
X01BR008                  NaN                           NaN
X01BR009             negative                           NaN
...                       ...                           ...
X21BR001             negative                           NaN
X21BR002             positive                           NaN
X21BR010             positive                      negative
X22BR005             positive                      positive
X22BR006             positive                      negative

Name       TNBC.Updated.Clinical.Status ERBB2.Proteogenomic.Status  \
Patient_ID
CPT000814                      positive                   negative
CPT001846                      positive                   negative
X01BR001                       positive                   negative
X01BR008                            NaN                   negative
X01BR009                       positive                   negative
...                                 ...                        ...
X21BR001                       negative                   positive
X21BR002                       negative                   negative
X21BR010                       negative                   negative
X22BR005                       negative                   positive
X22BR006                       negative                   negative

Name       TOP2A.Proteogenomic.Status
Patient_ID
CPT000814                    negative
CPT001846                    negative
X01BR001                     negative
X01BR008                     negative
X01BR009                     negative
...                               ...
X21BR001                     negative
X21BR002                     negative
X21BR010                     negative
X22BR005                     negative
X22BR006                     negative

[122 rows x 18 columns]

The dimensions for each dataframe might not be equal depending on if you masked some patients. That's where the `intersect1d()` function from numpy becomes really useful, especially if we want to analyze transcriptomics, proteomics, and clinical data together. This lets us see which patient barcodes are shared between the data frames.


Let's take a look at all of the patients who are older than 50 years old at the time of diagnosis. 
<br></br>
**Exercise 3.3**
1.  Use the clinical data DataFrame to create a boolean mask for the condition of patients being older than 50.
2.  Mask the clinical data and assign it to a DataFrame called 'masked_clinical'.

In [67]:
# write code here
old_mask = clinical_data.loc[:,"Age.in.Month"]/12 >50
masked_clinical = clinical_data.loc[old_mask, :]
print(masked_clinical)

Name       Replicate_Measurement_IDs Sample_Tumor_Normal TMT.Plex TMT.Channel  \
Patient_ID
X01BR001                    X01BR001               Tumor        2        129N
X01BR018                    X01BR018               Tumor        7        129N
X01BR025                    X01BR025               Tumor        9        127N
X01BR027                    X01BR027               Tumor        3        127N
X01BR030                    X01BR030               Tumor        7        128C
...                              ...                 ...      ...         ...
X20BR006                    X20BR006               Tumor       17        128N
X20BR007                    X20BR007               Tumor        5        130N
X20BR008                    X20BR008               Tumor        5        127C
X21BR010      X21BR010|X21BR010.REP1               Tumor     3|17   129C|128C
X22BR006                    X22BR006               Tumor       10        130N

Name             Stage  Ischemia.Time.in.Minutes  PAM50 NMF.Cluster  \
Patient_ID
X01BR001     Stage IIB                       0.0  Basal     Basal-I
X01BR018    Stage IIIA                       1.0  Basal     Basal-I
X01BR025    Stage IIIA                       6.0   LumA      LumB-I
X01BR027     Stage IIA                       8.0  Basal     Basal-I
X01BR030    Stage IIIA                       4.0   LumA      LumA-I
...                ...                       ...    ...         ...
X20BR006     Stage IIB                      18.0  Basal     Basal-I
X20BR007     Stage IIA                      16.0  Basal     Basal-I
X20BR008    Stage IIIB                      11.0   Her2      HER2-I
X21BR010     Stage IIA                      18.0   LumA      LumA-I
X22BR006    Stage IIIA                      25.0   LumA      LumB-I

Name        NMF.Cluster.Membership.Score  Age.in.Month  Gender  \
Patient_ID
X01BR001                           0.782         660.0  female
X01BR018                           0.915         792.0  female
X01BR025                           0.551         744.0  female
X01BR027                           1.000         960.0  female
X01BR030                           0.409        1010.0  female
...                                  ...           ...     ...
X20BR006                           0.728         786.0  female
X20BR007                           0.609         660.0  female
X20BR008                           0.481         863.0  female
X21BR010                           0.559         852.0  female
X22BR006                           0.402         660.0  female

Name                        Ethnicity ER.Updated.Clinical.Status  \
Patient_ID
X01BR001    black.or.african.american                   negative
X01BR018                        white                   positive
X01BR025    black.or.african.american                   positive
X01BR027    black.or.african.american                   negative
X01BR030    black.or.african.american                   positive
...                               ...                        ...
X20BR006                        white                   positive
X20BR007    black.or.african.american                   negative
X20BR008    black.or.african.american                   negative
X21BR010                        white                   positive
X22BR006    black.or.african.american                   positive

Name       PR.Clinical.Status ERBB2.Updated.Clinical.Status  \
Patient_ID
X01BR001             negative                      negative
X01BR018             negative                      negative
X01BR025             positive                     equivocal
X01BR027             negative                      negative
X01BR030             positive                      negative
...                       ...                           ...
X20BR006             negative                      negative
X20BR007             negative                      negative
X20BR008             negative                      negative
X21BR010             positive                      negative
X22BR006             positive                      negative

Name       TNBC.Updated.Clinical.Status ERBB2.Proteogenomic.Status  \
Patient_ID
X01BR001                       positive                   negative
X01BR018                       negative                   negative
X01BR025                       negative                   negative
X01BR027                       positive                   negative
X01BR030                       negative                   negative
...                                 ...                        ...
X20BR006                       negative                   negative
X20BR007                       positive                   negative
X20BR008                       positive                   negative
X21BR010                       negative                   negative
X22BR006                       negative                   negative

Name       TOP2A.Proteogenomic.Status
Patient_ID
X01BR001                     negative
X01BR018                     negative
X01BR025                     negative
X01BR027                     negative
X01BR030                     negative
...                               ...
X20BR006                     negative
X20BR007                     negative
X20BR008                     negative
X21BR010                     negative
X22BR006                     negative

[79 rows x 18 columns]

Now that we have masked our data, if we tried to do an analysis using the different data frames, we would get a lot of errors since we are now missing some patients in our masked_clinical data frame. If we want to get the patients who are present in the masked data as well as the rna_data and protein_data, we can use intersect1d().

**Exercise 3.4**
1. Use `intersect1d()` from np to create a list that contains the patient IDs for each pair of data frames as mentioned below. (Hint: this function takes two 1d arrays, which would be patient IDs from two different dataframes. How do we get this from each dataframe? Are patient IDs rows or columns?) 
2. Use a for loop to print the lengths of these three data frames, and compare them to the number of rows. The for loop skeleton is below. What do you notice about the three lengths? Do the numbers correspond to anything in particular?
3. Finally, identify which intersection contains the patient IDs where there is data for all three levels of data (proteomics, transcriptomics, and clinical). How can we tell?

In [98]:
# 1.
name_intersects = [
     np.intersect1d(protein_data.index, rna_data.index)
        # 0. fill in intersecting for protein/rna here using intersect1d()
    , np.intersect1d(protein_data.index, masked_clinical.index)
        # 1. fill in intersecting for protein/masked clinical here
    , np.intersect1d(rna_data.index, masked_clinical.index)
        # 2. fill in the intersecting for rna/masked clinical here
]

# 2. Print the lengths here
# write a for loop here
i = 0
for intersect1d in name_intersects:
    print(f'The length of item {i} is {len(intersect1d)}')  # fill in here
    i+=1
    
# 3. Which comparison(s) contain the patient names that have all three levels?

The length of item 0 is 122
The length of item 1 is 79
The length of item 2 is 79

## (4) Examining the Clinical Data

Let's explore the clinical data in more detail.

First, use head() to glance as to what data is available.

In [147]:
# write code here
clinical_data.head()

Name,Replicate_Measurement_IDs,Sample_Tumor_Normal,TMT.Plex,TMT.Channel,Stage,Ischemia.Time.in.Minutes,PAM50,NMF.Cluster,NMF.Cluster.Membership.Score,Age.in.Month,Gender,Ethnicity,ER.Updated.Clinical.Status,PR.Clinical.Status,ERBB2.Updated.Clinical.Status,TNBC.Updated.Clinical.Status,ERBB2.Proteogenomic.Status,TOP2A.Proteogenomic.Status
Patient_ID,,,,,,,,,,,,,,,,,,
CPT000814,CPT000814,Tumor,13,127C,Stage IIA,NaN,Basal,Basal-I,1.000,NaN,NaN,black.or.african.american,negative,negative,NaN,positive,negative,negative
CPT001846,CPT001846,Tumor,12,128C,Stage III,NaN,Basal,Basal-I,0.672,NaN,NaN,white,negative,negative,NaN,positive,negative,negative
X01BR001,X01BR001,Tumor,2,129N,Stage IIB,0.0,Basal,Basal-I,0.782,660.0,female,black.or.african.american,negative,negative,negative,positive,negative,negative
X01BR008,X01BR008,Tumor,16,127C,NaN,NaN,Basal,Basal-I,0.958,NaN,NaN,NaN,NaN,NaN,NaN,NaN,negative,negative
X01BR009,X01BR009,Tumor,16,127N,NaN,NaN,Basal,Basal-I,0.825,NaN,NaN,NaN,negative,negative,NaN,positive,negative,negative

**Exercise 4.1** You might notice that the Age column values don't look like years -- they're in months. Create a new column called "Age" with the "Age.in.Month" values / 12. Then, use head() again to make sure the ages were converted.

In [12]:
# convert ages here!
clinical_data["Age"] = clinical_data["Age.in.Month"]/12

clinical_data.head()

Name,Replicate_Measurement_IDs,Sample_Tumor_Normal,TMT.Plex,TMT.Channel,Stage,Ischemia.Time.in.Minutes,PAM50,NMF.Cluster,NMF.Cluster.Membership.Score,Age.in.Month,Gender,Ethnicity,ER.Updated.Clinical.Status,PR.Clinical.Status,ERBB2.Updated.Clinical.Status,TNBC.Updated.Clinical.Status,ERBB2.Proteogenomic.Status,TOP2A.Proteogenomic.Status,Age
Patient_ID,,,,,,,,,,,,,,,,,,,
CPT000814,CPT000814,Tumor,13,127C,Stage IIA,NaN,Basal,Basal-I,1.000,NaN,NaN,black.or.african.american,negative,negative,NaN,positive,negative,negative,NaN
CPT001846,CPT001846,Tumor,12,128C,Stage III,NaN,Basal,Basal-I,0.672,NaN,NaN,white,negative,negative,NaN,positive,negative,negative,NaN
X01BR001,X01BR001,Tumor,2,129N,Stage IIB,0.0,Basal,Basal-I,0.782,660.0,female,black.or.african.american,negative,negative,negative,positive,negative,negative,55.0
X01BR008,X01BR008,Tumor,16,127C,NaN,NaN,Basal,Basal-I,0.958,NaN,NaN,NaN,NaN,NaN,NaN,NaN,negative,negative,NaN
X01BR009,X01BR009,Tumor,16,127N,NaN,NaN,Basal,Basal-I,0.825,NaN,NaN,NaN,negative,negative,NaN,positive,negative,negative,NaN

There are actually control (non-cancer) tissue samples in some datasets. Let's determine whether we need to account for this in our dataset this using the unique() function from numpy.

__Exercise 4.2__ Call the unique() function on the Sample_Tumor_Normal column. The function will return the unique values in the column in a sorted order -- this is super useful for examining categorical variables, like tumor stage and tumor status, for example.

In [150]:
# Get the levels of the Sample_Tumor_Normal column with unique()
print(clinical_data.loc[:,"Sample_Tumor_Normal"].unique())

['Tumor']

__Exercise 4.3__ Let's examine how tumor stage varies as a function of age:

   1. Import the plotting libraries matplotlib.pyplot and seaborn (use the standard abbreviations presented last time, seaborn is sns).
   2. Create an age_category column in clinical_data. Define "Young" as under the median age, and "Old" as the median age and older. (Hint: use the where() function from numpy, the equivalent to ifelse()).
   3. The "Stage" information for soome of these patients is NaN (the pandas version of NA). Use the isna() function from pandas and boolean indexing (i.e. where() from numpy again) to remove any patients with NaN values in "Stage".
   4. Using nested for loop and boolean indexing, count the number of old and young patients that have Stage I, Stage II, Stage III, and Stage IV cancer.
   5. Use the skeleton code to draw the barplot. Do your numbers make sense?

In [37]:
# 1. Import libraries here
import matplotlib.pyplot as plt
import numpy as np

# 2. Create the age_category column in clinical_data
median_age = clinical_data["Age"].median(skipna=True)
clinical_data["age_category"] = np.where(clinical_data["Age"] < median_age, "Young", "Old")
clinical_data["age_category"] = np.where(clinical_data['Age'].isna(), np.nan, clinical_data['age_category'])


# 3. Filter our NaN
clinical_data= clinical_data.dropna(subset=["age_category"])


## this will programatically get all the stages in order
stage_categories = np.unique(clinical_data.loc[:, "Stage"])
assert(np.all(stage_categories == ['Stage IA', 'Stage IIA', 'Stage IIB',
                                    'Stage III', 'Stage IIIA', 'Stage IIIB', 'Stage IIIC']))

# 4. Loop through all the stage categories and count

#for age_cat in ["Old", "Young"]: # first get the old data, then the young data
   # print(age_cat)
    # fill this in with the cancer category:
   # for ...:
        # 1. create a subset of the data frame with the old/young patients
        # 2. count the number of patients with the stage of cancer and print


        
# 5. Create a barplot to compare your results
#sns.countplot(
  #  x = "age_category",
  #  hue = "Stage",
   # hue_order = stage_categories,
  #  data = INSERT HERE
#)

#plt.show()

TypeError: '<' not supported between instances of 'float' and 'str'

## (5) Plotting Proteomic Data

Let's explore how the proteomic expression of a gene differs between young and old patients.

**Exercise 5.1** Plot the expression data of a chosen protein stratified between patients older and younger than the median age.

In [42]:
median_age = clinical_data["Age"].median(skipna=True)
young_mask = clinical_data["Age"]< median_age # the age column is 'Age.in.Month', which (as stated) is in months
old_mask = clinical_data["Age"]>= median_age

young = (protein_data.loc[young_mask,:]).dropna()
old = (protein_data.loc[old_mask,:]).dropna()

data = [old.values, young.values] # our boxplot function will require an array (or an array of arrays)
data

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [ ]:
fig, ax = plt.subplots()

plt.axhline(y = 0, color = 'blue', linestyle = '-')
plt.axhline(y = -1, color = 'blue', linestyle = ':')
plt.axhline(y = 1, color = 'blue', linestyle = ':')


bp = ax.boxplot(FILL IN HERE) # data goes here
plt.xticks([1, 2], ["FILL IN HERE", "FILL IN HERE"]) # use \n for new line if desired


plt.show()

**Exercise 5.2** Why do you think we added lines at -1, 0, and 1? What do these values represent in terms of log2FoldChange?

In [ ]:
# answer in a comment here

## (6) SciPy
Another question to ask is if the levels of RNA expression correlate with protein expression. While we would expect for there to be a 1:1 relationship between RNA and protein (according to the central dogma), as you will see, this is not what we oftentimes observe.

In [43]:
from scipy import stats # we are using the stats package in particular

The first thing we need to do is to identify which patients and genes are shared between the transcriptomic and proteomic data sets.

Luckily for us, all 122 patients in the Brca dataset have clinical, transcriptomic, and proteomic data. If this were not the case (such as in the colon cancer database), we would use intersect1d() to fix this. We will still need to use intersect1d() to determine which genes are shared.

**Exercise 6.1** To make sure the data frames match:

1. Identify the names of the genes that are shared between the two datasets (hint: use intersect1d()). Is this data the row or column names?
2. Create the rna_shared and prot_shared data frames; ie dataframes with only genes that are shared between rna and protein data. (Hint: how can we access rows/columns by name?).

In [64]:
# 1. Identify the genes (RNA, protein) shared between the two data sets 
shared_rna_prot = np.intersect1d(protein_data.columns, rna_data.columns)


# 2. Create the two data frames
rna_shared = rna_data.loc[:,(rna_data.index).isin(shared_rna_prot)]
prot_shared = protein_data.loc[:,(protein_data.index).isin(shared_rna_prot)]

print(rna_shared)

IndexError: Boolean index has wrong length: 122 instead of 23121

Now, we can see how correlated the RNA and protein levels are. We'll use Spearman correlation from the stats library, which is spearmanr().

**Exercise 6.2** Choose a gene and get the Spearman correlation of the rna to protein of that gene.

In [61]:
# we need the nan_policy="omit" to throw out NaN values
corr, pval = stats.spearmanr(rna_shared["A2M"], prot_shared["TP53"], nan_policy="omit")

print(f"The correlation of A2M is {round(corr, 3)} (p = {round(pval, 10)}).")

The correlation of A2M is nan (p = nan).

**Exercise 6.3** What is your gene's Spearman correlation? What does that mean mathematically? What could this represent biologically? Look into the literature to see if it corroborates this idea.

In [ ]:
# answer in a comment here

## (7) Heatmaps
**Exercise 7.1** A problem arises if we want to compare many correlations. Heatmaps are useful for visualizing a large number of comparisons. To make a heatmap, we'll use the heatmap() function from seaborn. Let's do the following:

1. Set up our data frame to hold all comparisons. All you need to do is to access the first 20 gene names.
2. Calculate the correlations for the first 20 genes (just to save time). You'll need to use two for loops.
3. Call heatmap() -- this is filled in for you!
4. Interpret the data. There is a "light" diagonal along the heatmap from the top-left to bottom-right. Is this expected? Why or why not?

In [57]:
import seaborn as sns

In [ ]:
ncomparisons = 20 # define this variable in case we want to change the number of correlations to test
                  # this makes it less likely you'll forget to change a number, e.g. in the data frame shape
gene_names = rna_data.loc[:,ncomparisons] # get the first ncomparisons gene names


# Don't worry about this code
# It's good practice to declare your data frame beforehand (it's much faster than appending to a list)
# We fill everything in with 0 just as a placeholder
corr_df = pd.DataFrame(np.ndarray(shape=(ncomparisons, ncomparisons), dtype=np.float16),
                      index = gene_names,
                      columns = gene_names)

# 2. fill in the data frame!
for g1 in gene_names:
    for g2 in gene_names:
        # calculate the correlations between protein and RNA
        # then, use .loc[] to store the correlation in corr_df
        FILL IN HERE

# 3. create the heat map
plot = sns.heatmap(
    corr_df,
    cmap='mako',
)
plot.set_xlabel('Protein', fontsize=10)
plot.set_ylabel('RNA', fontsize=10)
plt.show()

# 4. interpret!

## (8) More with Seaborn
seaborn is a nice package which works well with matplotlib and makes prettier plots with more control over the figure.

Here's how you make a scatter plot with seaborn, for example:

In [ ]:
fig, ax = plt.subplots()

sns.scatterplot( # x-axis
    x = clinical_data.loc[:, "Age.in.Month"],
    y = protein_data.loc[:, "DYNLT3"],# y-axis
    legend = "full",  # show the legend
    ax = ax  # necessary for when plotting more than 1 subplot
)

fig.suptitle('Age vs. DYNLT3')  # set title

plt.show()

**Exercise 8.1** Update the above plot to:

1. Have age in years instead of months.
2. Color patients based on gender (or another clinical variable of your choosing)
3. Have a side-by-side second plot with a different protein of your choosing

In [ ]:
# create plot here

## (9) Saving Plots
Remember, to save a plot, we can call plt.savefig() instead of the plt.show().

In [ ]:
fig, ax = plt.subplots()

sns.scatterplot( # x-axis
    x = clinical_data.loc[:, "Age.in.Month"],
    y = protein_data.loc[:, "DYNLT3"],# y-axis
    legend = "full",  # show the legend
    ax = ax  # necessary for when plotting more than 1 subplot
)

fig.suptitle('Age vs. DYNLT3')  # set title

# age_scatter.png is a relative path so check your working directory before running it
plt.savefig('age_scatter.png', bbox_inches='tight')

# Exercises
Only this section will be graded!
## 1. Drawing Connections
1. Choose a clinical variable and segment the cohort into two groups. 
2. Find out what the 5 most differentially expressed genes are (we aren't going to do this in a sophisticated way like DESeq, instead just take the mean expression of every single gene within a group and find the gene which has the greatest difference in mean between the two groups)
3. Create two scatter plots, side by side, each with one group. Within the scatter plots, plot RNA expression versus protein expression for each of the genes in a different color.
4. Add appropriate legend, title, and labels.

In [65]:
# write code here
young_patients = clinical_data[clinical_data["Age"] < 50]
old_patients = clinical_data[clinical_data["Age"] >= 50]
#i only know how to do step 1

## 2. Interpretation Skills
This section is short-answer based written responses. Please respond in 2-3 sentences to each question below for full credit.
1. What do the numbers within the protein and transcriptomics DataFrames represent? Why do we represent them this way?
2. Why are there fewer columns in the protein DataFrame than the transcriptomics one?
3. Explain how the central dogma may be broken in between DNA -> RNA -> Proteins and how this might affect our proteomics data.
4. Why is proteomics data relatively scarce compared to sequencing data?
5. Should we ever expect protein expression to be 0 in a tumor sample?
6. What are protein domains and how do they relate to the role of a protein?
7. Overexpression of the ERBB2 gene is found in up to 20% of breast cancer cases. ERBB2 encodes the receptor tyrosine-protein kinase erbB-2, frequently called HER2 in humans. Thus, cases in which ERBB2 is overexpressed are referred to as HER2+. Briefly skim the following paper and answer the following questions. https://www.sciencedirect.com/science/article/pii/S1044579X20300493
>Is ERBB2 an oncogene or a tumor suppressor gene? How do mutations within the gene affect the prognosis of the disease?
<br></br>
>What are some treatment strategies for HER2+ breast cancer?
<br></br>
>What is one recent development that has changed our understanding of HER2+ breast cancer?

In [ ]:
# answer questions here
#1 the numbers within the protein/transcriptomics dfs represent relative expressions with < -1 being low,
#  >1 being high, and -1 to 1 being average. We do this to make the data more manageable, and readable on
#  plots.

#2 There are fewer columns in proteins because not every RNA transcript codes for a protein.

#3 The central dogma can be broken by things like retroviruses, which make DNA from RNA. Our proteomics data
#  might be affected by this

#4 Protein sequencing is a much longer, more expensive process than DNA/RNA sequencing, which is why proteomics
#  data is scarce

#5 A protein level can be 0 if it is the exact same as the reference level. However, this is unlikely so it should
#  not be expected.

#6 Protein domains are segments of proteins that fold by themselves and do a specific job. (thanks bisc320!)

#7 Her2 is an oncogene. Mutations cause overexpression of Her2, which result in a poorer prognosis.
#  The main treatment strategy currently is using trastuzumab with chemotherapy.
#  The recent use of ADCs as treatment has changed our understanding of Her2 definitions inbreast cancer. Instead
#  of two types, Her2+ and Her2-, there may need to be a third type: HER2-low breast carcinoma.

## 3. Challenge Exercise - Incorporating Genomics
This exercise is optional and is worth extra credit up to 5 points. The combined extra credit between challenge exercises will cap out at 5 points total.
<br></br>
We can get somatic mutation data for cptac patients the same way we get proteomics, transcriptomical, or clinical. Let's explore some aspects of it.
1. Save the BRCA somatic mutation data to `mutation_data`
2. Determine the top 10 most commonly mutated genes within the dataset.
3. Determine what percent of patients have a mutation in at least one of those genes.
4. Create a bar plot that shows percent percent of patients that have exactly 0-10 out of 10 of those mutations. Name axes and titles appropriately.

In [ ]:
# write code here

## 4. Challenge Exercise - Background Research
This exercise is optional and is worth extra credit up to 5 points. The combined extra credit between challenge exercises will cap out at 5 points total.
<br></br>
PAM50 is a breast cancer model based on clustering of breast cancer subtypes by expression of 50 selected genes. Our clinical data contains PAM50 subtypes for every patient.

You can read about the methodology more here:
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2667820/

Using the CPTAC dataset, recreate one of the findings present in the paper. Create some form of figure to present your finding. In comments below, state your conclusion from the figure and whether it is supported by the paper above.

In [ ]:
# write code here